* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px; /* Ancho aumentado para dos columnas */
    border: 2px solid #ccc; /* Borde gris */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    width: 48%; /* Ancho de las etiquetas */
}

input[type="text"],
input[type="number"],
textarea {
    padding: 10px;
    border: 1px solid #ccc; /* Borde gris */
    border-radius: 5px;
    font-size: 16px;
    width: 48%; /* Ancho de los inputs */
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    padding: 10px;
    background-color: #ffd700; /* Amarillo */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%; /* Botón ocupa el 100% del ancho */
}

input[type="submit"]:hover {
    background-color: #ffc107; /* Amarillo más oscuro al pasar el mouse */
}

